@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
     height: 100%;
  margin: 0;
  padding: 0;
  }

  :root {
    /* Adjust these to change the theme's color */
    --primary: 234 88% 74%;
    --primary-foreground: 0 0% 0%;

    /* Adjust these to change the chart's colors */
    --chart-1: 208 87% 53%;
    --chart-2: 301 56% 56%;
    --chart-3: 99 55% 51%;
    --chart-4: 56 70% 54%;
    --chart-5: 0 60% 57%;

    --background: 0 0% 100%;
    --background-hover: 0 0% 95%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3%;
    --background-hover: 0 0% 6%;
    --foreground: 0 0% 98%;
    --card: 0 0% 5%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 98%;
    --secondary: 0 0% 8%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 8%;
    --muted-foreground: 0 0% 64.9%;
    --accent: 0 0% 8%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 12%;
    --input: 0 0% 12%;
    --ring: 0 0% 83.9%;
  }

  * {
    @apply border-border;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  flex: 1 0 0;
}

.disable-transitions * {
  transition-property: background-color, color !important;
  transition-duration: 0s !important;
}
